stable-baselines3==1.2.0
gym==0.18.3
git+git://github.com/threethirds/Adafruit_Blinka@e54148f#egg=Adafruit_Blinka
git+git://github.com/threethirds/Adafruit_CircuitPython_ADS1x15@66f66e7#egg=Adafruit_CircuitPython_ADS1x15
Jetson.GPIO
pyzmq
tensorboard